/* body {
  background: #5C5C5C;
} */
  #nav {
    background: #000;
    width: 100%;
    height: 50px;
  }
  #nav p,#nav li {
    display: flex;
    color: #fff;
    margin-top:15px;
  }
  #nav p {
    float: left;
    margin-left: 5%;
  }
  #nav ul {
    float: right;
    margin-right: 5%;
  }
  #nav li {
    float: left;
  }
  #nav .line {
    margin:15px 20px;
  }
  #nav a {
    color:#fff;
  }
  #indexImg img {
    width: 100%;
  }
  #intro {
    width: 500px;
    height: 400px;
    margin: 90px auto 0 auto;
  }
  h5 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 28px;
  }
  h6 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 14px;
  }
  #intro img {
    width: 280px;
    float: left;
    box-shadow: 1px 1px 20px;
  }
  #intro p {
    height: 150px;
    width: 200px;
    background: #000;
    float: left;
    margin: 21px 0;
    color: #fff;
  }
  /* #moduleOuter {
    background: rgb(255,255,255,0.9);
  } */
  #moduleOuter {
    margin: 0 auto;

  }
  #moduleBar {
    background: url("../images/moduleImg.jpg") no-repeat center center;  /*增加垂直效果*/
    /*width: 1189px;*/
    width: 96%;
    height: 510px;
    margin: 0 auto;
    padding-top:80px;
  }
  #moduleBar ul {
    /*margin-left: 250px;*/
    display: flex;
    justify-content: center;
  }
  #moduleBar li{
    /*float: left;*/
    /*margin-right: 80px;*/
    margin-left: 45px;
    margin-right: 45px;
  }
  .link {
    width: 180px;
    height: 200px;
    background: rgba(255,255,255,0.2);
    margin-top: 40px;
    padding-top: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    transition-duration: 1s;
  }
  .link p {
    display: none;
    transition-duration: 1s;
  }
  #moduleBar li img {
    width: 70px;
    display: flex;
    margin: 0 auto;
  }
  .link:hover {
    width: 180px;
    height: 300px;
    background: #077AAB;
    margin-top: 10px;
    transition-duration: 1s;
    /*浏览器兼容？？*/
  }
  .link:hover p {
    display: block;
    transition-delay: 1s;
    margin: 15px auto;
  }

  /*test*/
  #showImg {
    width: 75%;
    margin: 0 auto;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
