html, body {
  width: 100%;
}
div {
  display: block;
}
body, p {
  padding: 0;
  margin: 0;
  font-family: '微软雅黑';
  font-size: 14px;
}
body{
  background: #ffff;
  min-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/*导航栏通配*/
#nav {
    background: #000;
    width: 100%;
    height: 50px;
  }
  #nav p,#nav li {
    display: flex;
    color: #fff;
    margin-top:15px;
  }
  #nav p {
    float: left;
    margin-left: 5%;
  }
  #nav ul {
    float: right;
    margin-right: 5%;
  }
  #nav li {
    float: left;
  }
  #nav .line {
    margin:15px 20px;
  }
  #nav a {
    color:#fff;
  }
#nav p,#nav li {
  color: #fff;
  font-size: 16px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
#nav p {
  /*float: left;*/
  margin-left: 5%;
  width: 140px;
  min-width: 140px;  /*防止因页面变小文字溢出*/
  height: 55px;
  font-family: STXingkai;  /*标题字体*/
  font-size: 33px;
  line-height: 55px;
}
#nav ul {
  /*float: right;*/
  width: 520px;
  min-width: 520px;  /*防止因页面变小文字溢出*/
  margin-right: 5%;
}
#nav li {
  float: left;
}
#nav a {
  color: #fff;
  width: 130px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
}
#nav #navSelect {
  color: #0080FF;
}
#nav #navSelect:after {
  content: '';
  width: 130px;
  height: 3px;
  background: #0080FF;
  display: flex;
  margin-top: -3px;
}
#nav a:hover {
  background: #000;
  transition-duration: 0.5s;
}
/*本页面的相关css*/
.breadCrumb {
  font-size: 14px;
  color: #858585;
  width: 1200px;
  margin: 20px auto 0;
  position: relative;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.tag {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contentbox {
  display: block;
  background: #fff;
}
.w960 {
  width: 1060px;
  margin: 0 auto;
}
.pt20 {
  padding-top: 20px;
}
.pr {
  position: relative;
}
.w600 {
  width: 700px;
}
.clearfix {
  zoom: 1;
}
.p35 {
  padding: 0 35px;
}
.pb50 {
  padding-bottom: 50px;
}
.pt30 {
  padding-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.border-left-shadow {
  box-shadow: 0px 15px 55px #ededed;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.tag p span {
  float: left;
  color: #999;
  line-height: 33.5px;
  margin-right: 10px;
}
.tag p {
  height: 33.5px;
}
.contentbox h1 {
  line-height: 36px;
}
.artical-con p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  text-indent:2em;
}
.artical-con h5 {
  font-size: 19px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 32px;
}
.artical-con img {
  width: 100%;
}
.artical-con h6 {
  font-size: 15px;
  color: #858585;
  text-align: center;
  margin-top: 10px;
}
.btns {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0 45px -25px;
  padding-left: 30px;
}
.btns > div {
  height: 26px;
  top: 0;
}
.btns .prevBtn {
  left: 40px;
}
.btns .nextBtn {
  right: 40px;
  margin-top: 10px;
  padding: 0 0 50px 0;
}
.btns .linkBtn {
  width: 70px;
  display: inline-block;
  border: 1px solid #366df0;
  border-radius: 4px;
  text-align: center;
  line-height: 26px;
  color: #366df0;
  margin-right: 10px;
}
.btns .linkBtn a {
  color: #366df0;
}
a {
  color: #16171a;
  text-decoration: none;
  cursor: pointer;
}
body a {
  outline: none;
}
.breadCrumb a {
  color: #858585;
}
.breadCrumb a:hover {
  color: brown;
  text-decoration: underline;
}
/*回到顶部的设置*/
/*.totop {
  position: fixed;
  bottom: 20px;
  left: 1210px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.totop img {
  width: 60px;
}*/
#rightpic img{
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.post_content_side {
  width: 300px;
}
.ep-title-2 {
  background: #fafafa;
  margin-top: 10px;
  height: 35px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  line-height: 31px;
  overflow: hidden;
}
.ep-title-2 .title {
  float: left;
  color: #252525;
  font: 700 14px/36px Sim sun;
}
.entry a {
  float: right;
  padding-right: 15px;
  line-height: 36px;
  color: #888888;
  font-size: 12px;
  font-family: "\5B8B\4F53",serif;
  cursor: pointer;
}
.rightlist li {
  height: 35px;
  font-size: 14px;
  line-height: 34px;
  border-bottom: 1px solid #f0f0f0;
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#epContentRight a:hover {
  color: brown;
  text-decoration: underline;
}
