#nav {
  background: #3E444A;
  width: 100%;
  height: 50px;
}
#nav p,#nav li {
  display: flex;
  color: #fff;
}
#nav p {
  float: left;
  margin-left: 5%;
  width: 80px;
  height: 50px;
  line-height: 50px;
}
#nav ul {
  float: right;
  margin-right: 5%;
}
#nav li {
  float: left;
}
#nav a {
  color:#fff;
  width: 130px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
}
#nav #navSelect {
  color: #0080FF;
}
#nav #navSelect:after {
  content: '';
  width: 130px;
  height: 3px;
  background: #0080FF;
  display: flex;
  margin-top: -3px;
}
#nav a:hover {
  background: #000;
}